<div class="contenido-superior vacante contenedor">
    <div class="caja">
        <p class="etiqueta">Registro</p>
        <p class="nombre">{{actualizaciones.registro}}</p>
    </div>
</div>

<div class="contenido-superior vacante contenedor">
    <div class="caja">
        <p class="etiqueta">Número de actualización</p>
        <p class="nombre">{{actualizaciones.idUpd}}</p>
    </div>
</div>

<div class="contenido-superior vacante contenedor">
    <div class="caja">
        <p class="etiqueta">Descripción</p>
        <p class="nombre">{{actualizaciones.descripcion}}</p>
    </div>
</div>



<div class="vacante-contenedor contenedor">
    <main class="contenido">
        <a href="/actualizaciones/editar/{{actualizaciones.url}}" class="btn btn-azul editar-btn">Editar Actualización</a>
    </main>
</div>