<main class="contenedor">
    <form action="/imagenes/editar/{{imagenes.url}}" method="POST" class="default-form">
        <h3>Información General</h3>
         <div class="campo">
            <label>Imagen</label>
            <input type="text" value="{{imagenes.imagen}}" name="imagen" placeholder="Imagen"  required>
        </div>

        <div class="campo centrar-horizontal">
            <input type="submit" value="Guardar Cambios" class="btn btn-azul">
        </div>


    </form>
</main>