<main class="contenedor">
    <form action="/imagenes/editar/{{imagenes.url}}" method="POST" class="default-form" enctype="multipart/form-data">
        <div class="contenido-superior vacante contenedor">
            <div class="caja">
                <p class="etiqueta">Imagen actual</p>
                <img src="{{imagenes.urlC}}" class="admin-perfil">
            </div>
        </div>
        <div class="campo">
            <label>Imagen nueva</label>
            <input type="file" name="guardar" placeholder="Imagen">
        </div>

        <div class="campo centrar-horizontal">
            <input type="submit" value="Guardar Cambios" class="btn btn-azul">
        </div>


    </form>
</main>