<div class="contenido-superior vacante contenedor">
    <div class="caja">
        <p class="etiqueta">Registro</p>
        <p class="nombre">{{imagenes.registro}}</p>
    </div>
</div>

<div class="contenido-superior vacante contenedor">
    <div class="caja">
        <p class="etiqueta">Imagen</p>
        <p class="nombre">{{imagenes.imagen}}</p>
    </div>
</div>



<div class="vacante-contenedor contenedor">
    <main class="contenido">
        <a href="/imagenes/editar/{{imagenes.url}}" class="btn btn-azul editar-btn">Editar Imagen</a>
    </main>
</div>