<main class="contenedor">
    <form action="/premios/img" method="POST" class="default-form" enctype="multipart/form-data">
        <h3>Agruegue una imagen</h3>
        <div class="campo">
            <label>Imagen</label>
            <input type="file" name="guardar" placeholder="Imagen">
        </div>
        
         <div class="campo centrar-horizontal">
            <input type="submit" value="Crear imagen" class="btn btn-azul">
        </div>
    </form>
</main>