<main class="contenedor">
    <form action="/iniciar-sesion" method="POST" class="default-form">
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Email/Correo" required>
        </div>
        <div class="campo">
            <label>Password</label>
            <input type="password" name="password" placeholder="Contraseña" required>
        </div>
        
        <div class="campo">
            <input type="submit" value="Iniciar Sesión" class="btn btn-azul">
        </div>
    </form>
</main>