<main class="contenedor">
    <form action="/actualizaciones/nueva" method="POST" class="default-form">
        <h3>Información General</h3>
        <div class="campo">
            <label>Descripción de la actualización</label>
            <input type="text" name="descripcion" placeholder="Nombre de la actualización">
        </div>
        
         <div class="campo centrar-horizontal">
            <input type="submit" value="Crear actualización" class="btn btn-azul">
        </div>
    </form>
</main>