<main class="contenedor">
    <form action="/imagenes/nueva" method="POST" class="default-form" enctype="multipart/form-data">
        <h3>Información General</h3>
        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="nombre" placeholder="Nombre de la imagen">
        </div>
        <div class="campo">
            <label>Imagen</label>
            <input type="file" name="imagen" placeholder="Imagen">
        </div>
        
         <div class="campo centrar-horizontal">
            <input type="submit" value="Crear imagen" class="btn btn-azul">
        </div>
    </form>
</main>